.main {
  background-image: url("top.jpg");
  background-size: cover;
  height: 800px;
}

.message {
  text-align: center;
  color: #9f385b;
  font-size: 3rem;
  font-family: 'Balsamiq Sans', cursive;
}